<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Route Ranger Guide</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
	</head>
	
	
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">		
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://cdn-icons-png.flaticon.com/512/854/854894.png" class="rounded-circle user_img" alt="Route Ranger compass">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Route Ranger</span>
									<p>Tell me your vibe, I’ll chart the stops.</p>
								</div>
							</div>
							<div class="route_prompts">
								<span class="prompt_chip">Calgary 2-day advices</span>
								<span class="prompt_chip">Banff weekend advices</span>
								<span class="prompt_chip">Vancouver 2-day advices </span>
								<span class="prompt_chip">Victoria 2-day advices</span>
								<span class="prompt_chip">Jasper 2-day advices </span>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
							
							
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="Tell me where you're heading and what vibe you want..." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function() {
				const guideAvatar = "https://cdn-icons-png.flaticon.com/512/854/854894.png";
				const travelerAvatar = "https://cdn-icons-png.flaticon.com/512/2331/2331942.png";

				const introTime = new Date();
				const introStamp = introTime.getHours() + ":" + introTime.getMinutes();
				const introHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="' + guideAvatar + '" class="rounded-circle user_img_msg" alt="Route Ranger guide"></div><div class="msg_cotainer">I am Route Ranger, your travel buddy. Share where you are, how you move around (walk/metro/car), the vibe you want (foodie/markets/nature/night views), and time you have, and I will map a route with suggested stops and timing.<span class="msg_time">' + introStamp + '</span></div></div>';
				$("#messageFormeight").append($.parseHTML(introHtml));

				$(".prompt_chip").on("click", function() {
					$("#text").val($(this).text());
					$("#text").focus();
				});

				$("#messageArea").on("submit", function(event) {
					const date = new Date();
					const hour = date.getHours();
					const minute = date.getMinutes();
					const str_time = hour+":"+minute;
					var rawText = $("#text").val();

					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="' + travelerAvatar + '" class="rounded-circle user_img_msg" alt="Traveler"></div></div>';
					
					$("#text").val("");
					$("#messageFormeight").append(userHtml);

					$.ajax({
						data: {
							msg: rawText,	
						},
						type: "POST",
						url: "/get",
					}).done(function(data) {
						var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="' + guideAvatar + '" class="rounded-circle user_img_msg" alt="Route Ranger guide"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
						$("#messageFormeight").append($.parseHTML(botHtml));
					});
					event.preventDefault();
				});
			});
		</script>
        
    </body>
</html>
